@import '../../assets/theme.scss';

.Project {
    display: inline;

    button {
        cursor: pointer;
        border: 6px solid white;
        color: white;
        background: none;
        border-radius: 6px;

        padding: 10px;
        padding-left: 30px;
        width: 40%;
        margin: 2vmin;

        transition: 0.3s;

        h2, p {
            text-align: left;
        }
    }

    button:hover {
        background-color: white;
        color: $background2;
        transition: 0.3s;
    }

    button:focus {
        outline: 0;
    }
}
