.Project {
    cursor: pointer;
    border: 6px solid white;
    color: white;
    background: none;
    border-radius: 6px;

    padding: 10px;
    padding-left: 30px;
    width: 40%;
    margin: 2vmin;

    transition: 0.3s;

    h2, p {
        text-align: left;
    }
}

.Project:hover {
    background-color: white;
    color: #ab4141;
    transition: 0.3s;
}
