[build]
  base = "."
  publish =  "./build/"
  command = "yarn build"
  [build.processing]
    skip_processing = false
  [build.processing.css]
      bundle = true
      minify = true
  [build.processing.js]
      bundle = true
      minify = true
  [build.processing.images]
      compress = true

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Content-Security-Policy = "default-src 'self'"
