@import '../../assets/theme.scss';

.App {
  text-align: center;
  color: $text1;
  font-family: 'Roboto';

  .App-header {
    background-color: $background1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Profile-picture {
      height: 25vmin;
      border-radius: 50%;
      margin-top: calc(7px + 10vh);

      border: 3px solid $button;
      margin-bottom: 7px;
      transition: 0.3s;
    }

    .Profile-picture:hover {
      border: 10px solid $button;
      margin-top: 10vh;
      margin-bottom: 0px;
      transition: 0.3s;
    }

    h1 {
      color: $text1;
      margin: 0 auto;
      font-size: calc(5px + 5vmin);
    }

    .Status {
      font-style: italic;
      font-size: calc(4px + 2vmin);
      margin-bottom: 1vmin;
    }

    .Vertical-line {
      width: 32%;
      border: 1px solid $text1;
      border-radius: 5px;
      margin: 0;
      margin-bottom: 2vmin;
    }

    .Description {
      width: 45%;
      display: flex;
      flex-direction: column;

      p {
        font-size: calc(6px + 1vmin);
        margin: 0;
        margin-bottom: 1vmin;
      }
    }

    .Social-links {
      margin: 0 auto;
      margin-top: 15vmin;

      display: flex;
      flex-direction: row;
      align-items: center;

      button {
        background-color: white;
        border: 5px solid $button;
        border-radius: 20px;
        color: black;

        font-size: 4vmin;

        margin-left: 1vmin;
        margin-right: 1vmin;
        padding: 1vmin;
        cursor: pointer;

        outline: 0;

        transition: 0.15s;
      }

      button:hover {
        background-color: $button;
        transition: 0.15s;
      }
    }
  }

  .ProjectList {
    background-color: $background2;
    margin: 0;
    padding: 3vmin;

    h1 {
      color: $text2;
      font-size: calc(8px + 3vmin);
    }

    .ProjectBox {
      display: flex;
    }
  }

  .App-footer {
    background-color: $background1;

    padding: 2vmin;

    p {
      margin: 0;
    }

    a {
      text-decoration: underline;
      color: $text1;
    }
  }
}
