.ProjectList {
    background-color: #ab4141;
    margin: 0;
    height: 50vh;
    padding: 3vmin;

    h1 {
        margin-bottom: 3vmin;
    }

    .ProjectBox {
        display: flex;

        .Project {
            
        }
    }
}
