@import '../../assets/theme.scss';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 3rem 2rem;
  height: 100%;
  box-sizing: border-box;

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;

    .profile-picture {
      width: 80%;
      height: auto;

      padding: 1rem;

      border-radius: 50%;
    }

    p {
      text-align: center;
      margin: 8px 0;
    }
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    a {
      font-size: 15pt;
      cursor: pointer;
    }
  }
}
