@import '../../assets/theme.scss';

.Social {
  .Social-icon {
    width: 5vmin;
    height: 5vmin;
    padding: 1vmin;

    background-color: white;
    border-radius: 50%;
    border: 5px solid $button;

    margin-left: 1vmin;
    margin-right: 1vmin;

    transition: 0.15s;
  }

  .Social-icon:hover {
    background-color: $button;

    transition: 0.15s;
  }
}
