.Social-icon {
  width: 5vmin;
  height: 5vmin;
  padding: 1vmin;

  background-color: white;
  border-radius: 50%;
  border: 5px solid #ff8438;

  margin-left: 1vmin;
  margin-right: 1vmin;

  transition: 0.15s;
}

.Social-icon:hover {
  background-color: #ff8438;

  transition: 0.15s;
}