@import '../../assets/theme.scss';

.projects {
  padding: 3rem 2rem;
  box-sizing: border-box;
  background-color: $primary;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 2rem;

    .project {
      .image-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          p {
            font-size: 20pt;
            color: $primary;
          }

          .logo-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 15px;

            img {
              width: 60px;
              height: auto;
            }
          }

          transition: 0.3s;
        }

        img {
          width: 80vw;
          height: auto;
          border-radius: 1px;
          filter: blur(0px);

          transition: 0.3s;
        }
      }

      .description {
        max-width: 600px;
      }

      .image-container:hover {
        .overlay {
          opacity: 1;

          .logo-container {
            img {
              border-radius: 0;
              filter: blur(0);
            }
          }
        }

        img {
          border-radius: 24px;
          filter: blur(2px);
        }
      }

      p {
        font-family: "Open Sans";
      }
    }

    .attributions {
      font-family: "Open Sans";
      font-size: 12pt;
    }
  }
}

@media screen and (min-width: 550px) {
  .projects {

    .projects-container {
      .project {
        .image-container {
          img {
            max-width: 1000px;
            width: 60vw;
            height: auto;
          }
        }
      }
    }
  }
}
